exportPattern("^[[:alpha:]]+")
exportMethods(
    "callsleavingqueue",
    "exphit",
    "finddeclined",
    "findpi",
    "findpicontin",
    "findq",
    "rowsb",
    "stn" 
)
exportClasses(
    "mc" 
)
